<<<<<<< HEAD
*{
=======
/* navbar css */
/* *{
>>>>>>> 4e9b4a905cf9a18b1a4445a92ed687c376b408f6
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
body{
  font-family: sans-serif;
  width: 100%;
  margin: auto;
  border: 0px solid red;
}
  #nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  margin: auto;
  width: 80%;
  height: 120px;
  position: sticky;
  background-color: snow;
<<<<<<< HEAD
  /* border: 3px solid blue; */
=======
  border: px solid blue;
>>>>>>> 4e9b4a905cf9a18b1a4445a92ed687c376b408f6
  margin-top: 30px;
}

#nav a {
  font-size: 20px;
  padding: 10px;
  color: grey;
  text-decoration: none;
}

#nav>div>input {
  border: 3px solid rgb(255, 255, 0);
  padding: 2%;
  margin-top: 50px;
  width: 500px;
  border-radius: 50px;
  font-size: 25px;
}

#nav>div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border: 1px solid green;
  
}
#nav img {
  width: 250px;
}
#search{
  background-color: yellow;
  width: 13%;
  height: 54px;
  position: relative;
  top: -56px;
  right: -214px;
  padding: 0px;
  border-radius: 25px;
  border: none;
  border: 1px solid green;
}
#search>i{
  background-color: yellow;
}
.fa-solid {
  background-color: white;
  color: rgb(12, 12, 12);
  font-size: 20px;
  border: 1px solid green;
}

.fa-solid:hover {
  background-color: white;
  color: rgb(255, 255, 0);
  font-size: 30px;
}
.fa-solid:nth-child(1){
    color: black;
    border: 1px solid green;
}
#favcount{
  background-color: rgb(255, 255, 0);
  border-radius: 50%;
  font-size: 20px;
  padding:3px 7px;
  margin-left: 5px;
  margin-right: -5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: 1px solid green;
}
#cartcount{
  background-color: rgb(255, 255, 0);
  border-radius: 50%;
  font-size: 20px;
  padding:2px 7px;
  margin-left: 5px;
  margin-right: -5px;
  border: 1px solid green;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

<<<<<<< HEAD
#bottom {
  margin: auto;
  width: 80%;
  padding: 2%;
  background-color: whitesmoke;
  border-radius: 5px;
=======

/* fotter */

 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
>>>>>>> 4e9b4a905cf9a18b1a4445a92ed687c376b408f6
}




#email{
  height: 55px;
}
#bottom {
  margin: auto;
  width: 80%;
  padding: 2%;
  background-color: whitesmoke;
  border-radius: 5px;
}

#b1>div {
  display: flex;
  align-items: center;
  margin-top: 35px;
}

#b1>div>p {
  color: rgb(120, 115, 115);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-right: 20px;
}

form>input {
  width: 300px;
  font-size: 15px;
  height: 50px;
}

#sub {
  background-color: black;
  color: white;
  width: 150px;
  padding: 1%;
  border-radius: 0%;
  height: 56px;
}

#b1 {
  display: flex;
  justify-content: space-between;
}

#b1 img {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

#b1>div:nth-child(2) {
  display: flex;
  justify-content: space-evenly;
 }

#bottomlast {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: auto;
  gap: 20px;
  margin: auto;
  width: 80%;
  padding: 2%;
  background-color: whitesmoke;
  border-radius: 5px;
}

#bottomlast p {
  color: rgb(120, 115, 115);
  padding: 5px;
  font-size: 13px;
  padding-left: 2px;
}
#ft_hed{
  margin-left: -10px;
}
#para{
  margin-left:-1rem ;
}

#scan {
  display: flex;
  justify-content: space-evenly;
  margin-left:-5rem;
  
}

#scan img {
  width: 100px;
  height: 100px;

}

#scan>div:nth-child(2) {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 100px;
  padding: -20px;
}

#scan>div:nth-child(2)>img {
  height: 60px;
}

#copyright {
  background-color: black;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  height: 55px;

}

#scan>div>img:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#socialmedia>img:hover {
  width: 50px;
  height: 50px;
}


<<<<<<< HEAD
=======

  }

  #nav>div>input {

    width: 100px;

  }

  #nav img {
    width: 200px;
    height: 80%;
  }

  #nav a {
    font-size: 12px;
  }

  #collection {
    grid-template-columns: repeat(3, 1fr);
  }

  #superdeal {
    grid-template-columns: repeat(3, 1fr);
  }

  #recommended {
    grid-template-columns: repeat(3, 1fr);
  }

  #new {
    flex-wrap: wrap;
  }
  #newsub {
    display: flex;
    justify-content: space-evenly;
  
  }
  #newsub>div {
    width:45%;
    justify-content: space-evenly;
    margin-top: 20px;

  }
  #bottom1 {
    flex-wrap: wrap;
  }
  
  #bottom1>div {
    width: 45%;
  
  }
  #b1 {
    flex-wrap: wrap;
    flex-direction: column;
  }
  #bottomlast {
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;

  }
}

@media screen and (min-width:0px) and (max-width:499px) {
  #top3 {
    grid-template-columns: repeat(2, 1fr);


  }

  #nav>div>input {

    width: 50px;

  }

  #nav img {
    width: 100px;
    height: 60%;
  }

  #nav a {
    font-size: 8px;
  }

  #collection {
    grid-template-columns: repeat(2, 1fr);
  }

  #superdeal {
    grid-template-columns: repeat(2, 1fr);
  }

  #recommended {
    grid-template-columns: repeat(2, 1fr);
  }

  #new {
    flex-wrap: wrap;
  }

  #newsub {
    grid-template-columns: repeat(1, 1fr);
  }
  #new {
    flex-wrap: wrap;
  }
  #newsub {
    display: flex;
    justify-content: space-evenly;
  
  }
  #newsub>div {
    width:45%;
    justify-content: space-evenly;
    margin-top: 20px;

  }
  #bottom1 {
    flex-wrap: wrap;
  }
  
  #bottom1>div {
    width: 45%;
  
  }
  #b1 {
    flex-wrap: wrap;
    flex-direction: column;
  }
  #bottomlast {
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;

  }
} 
>>>>>>> 4e9b4a905cf9a18b1a4445a92ed687c376b408f6
