#main{
    border: 1px solid red;
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin: auto;

}
#main>div>img{
    border: 1px solid green;
    width: 65%;
    height: 40%;
    margin-left: 20px;
    margin-left: 30;
 
}
#navbar{
border: 1px solid blue;
display: flex;
justify-content: space-around;
/* align-items: center; */
width: 95%;
margin-top: 30px;
padding-top: 30px;

}
#navbar>div>select{
border: 1px solid blue;
margin-left: 60px;
height: 40px;
width: 180px;
text-align: center;

}
#navbar>div>input{
    border: 1px solid blue;
    /* margin-left: 60px; */
    height: 40px;
    
    }
    #navbar>div>img{
        border: 1px solid blue;
        /* margin-left: 60px; */
        height: 40px;
        width: 20%;
        
        }